{
    "users": [
        {
            "handle": "handle",
            "password": "password",
            "target": "targeted user"
        },
        {
            "handle": "handle",
            "password": "password",
            "target": "targeted user"
        }
    ]
}
